<section class="content">
  <div data-ng-controller="QuizCtrl" data-ng-init="testInit('lx0104')" class="">
    <form class="form-horizontal">
    <div class="row">
      <div style="text-align:left" class="col-md-6">
        <h1>LX0-104</h1>
      </div>
      <div style="text-align:left" class="col-md-6">
        <label for="perTest">
          Questions per test:
          <select ng-options="testLimiter as testLimiter.cnt for testLimiter in testLimiters track by testLimiter.cnt" ng-model="perTest" name="perTest" ng-change="updateTest()">
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div style="text-align:left" class="col-md-6">
        <p>Current Question: <span ng-bind="curQstNum"></span> |
        Remaining: <span ng-bind="remCnt"></span><br>
        Completed: %<span>{{perCompleted()}}</span> |
        Remaining: %<span>{{perRemaning()}}</span></p>
      </div>
      <div style="text-align:left" class="col-md-6">
        <p>correct out of attempted: %{{per_correct}}</p>
      </div>
    </div>
    <div class="jumbotron" compile="qstView">

    </div>
    <div class="row">
      <div compile="results" style="text-align:center"></div>
    </div>
    <div class="row">
      <div style="text-align:left" class="col-md-6">
        <button ng-click="loadPrevious()" class="btn btn-default" ng-show="curQstNum > 1">Previous Question</button>
      </div>
      <div style="text-align:right" class="col-md-6">
        <button style="text-align:right" ng-click="checkSelections()" class="btn btn-default">Submit</button>
        <button style="text-align:right" ng-click="questIter()" class="btn btn-default" ng-show="nextBtn == 1 && curQstNum < perTest.cnt">Next Question</button>
        <button style="text-align:right" ng-click="viewResults()" class="btn btn-default" ng-show="perCompleted() == 100">View Results</button>
      </div>
    </div>
  </form>
</section>
